In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
df = pd.read_csv('/content/Raw_customer_orders.csv')

In [20]:
df.head()

,order_id,customer_name,email,order_date,product,quantity,price,total,shipping_address,country,payment_status,notes
0,1001,Tonya Shaffer,wprice@gmail.com,10/8/2024,Monitor,1,55803,55803.0,"3323 Flores Curve Suite 147, Lake Lisa, WI 081...",India,Not Paid,Party always military but.
1,1002,Michelle Morrison,wanderson@hotmail.com,6/8/2025,Tablet,1,62336,62336.0,"934 Debra Plains, Port Kimberlyborough, WY 424...",india,Pending,NaN
2,1003,Victoria Harmon,rachel24@hotmail.com,7/19/2025,Tablet,3,77482,232446.0,"50177 Jeremy Trail, New Victoriastad, DC 85571...",IN,paid,Expect yourself performance send expert.
3,1004,Jennifer Wilson,kpage@hotmail.com,7/20/2025,Charger,3,969,2907.0,"15910 Miller Manors, Lake Kelly, CA 41434, India",India,Not Paid,NaN
4,1005,Loretta Collins,kristinabarr@yahoo.com,3/17/2025,Monitor,3,12685,38055.0,"777 Fernandez Shores, Lake Debra, IL 28104, India",IN,Paid,NaN

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          51 non-null     int64
 1   customer_name     48 non-null     object
 2   email             51 non-null     object
 3   order_date        48 non-null     object
 4   product           51 non-null     object
 5   quantity          51 non-null     int64
 6   price             51 non-null     int64
 7   total             48 non-null     float64
 8   shipping_address  51 non-null     object
 9   country           51 non-null     object
 10  payment_status    51 non-null     object
 11  notes             28 non-null     object
dtypes: float64(1), int64(3), object(8)
memory usage: 4.9+ KB

In [22]:
df.duplicated().sum()

np.int64(1)

In [23]:
df.drop_duplicates(inplace=True)

In [24]:
df.isnull().sum()

order_id             0
customer_name        3
email                0
order_date           3
product              0
quantity             0
price                0
total                3
shipping_address     0
country              0
payment_status       0
notes               22
dtype: int64

drop notes as it not needed and adds no value

In [25]:
df.drop('notes',axis=1,inplace=True)

In [26]:
df['order_date'] = pd.to_datetime(df['order_date'])

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 0 to 49
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          50 non-null     int64
 1   customer_name     47 non-null     object
 2   email             50 non-null     object
 3   order_date        47 non-null     datetime64[ns]
 4   product           50 non-null     object
 5   quantity          50 non-null     int64
 6   price             50 non-null     int64
 7   total             47 non-null     float64
 8   shipping_address  50 non-null     object
 9   country           50 non-null     object
 10  payment_status    50 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(3), object(6)
memory usage: 4.7+ KB

In [28]:
df['total'] = df['quantity'] * df['price']

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 0 to 49
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          50 non-null     int64
 1   customer_name     47 non-null     object
 2   email             50 non-null     object
 3   order_date        47 non-null     datetime64[ns]
 4   product           50 non-null     object
 5   quantity          50 non-null     int64
 6   price             50 non-null     int64
 7   total             50 non-null     int64
 8   shipping_address  50 non-null     object
 9   country           50 non-null     object
 10  payment_status    50 non-null     object
dtypes: datetime64[ns](1), int64(4), object(6)
memory usage: 4.7+ KB

the 3 customer names wihtout entry is filled with customer_1,customer_2,customer_3 ;

In [30]:
null_customer_index = df[df['customer_name'].isnull()].index

In [31]:
df.loc[null_customer_index[0], 'customer_name'] = 'customer_1'
df.loc[null_customer_index[1], 'customer_name'] = 'customer_2'
df.loc[null_customer_index[2], 'customer_name'] = 'customer_3'

In [32]:
df.dropna(inplace=True)

In [33]:
df.head()

,order_id,customer_name,email,order_date,product,quantity,price,total,shipping_address,country,payment_status
0,1001,Tonya Shaffer,wprice@gmail.com,2024-10-08,Monitor,1,55803,55803,"3323 Flores Curve Suite 147, Lake Lisa, WI 081...",India,Not Paid
1,1002,Michelle Morrison,wanderson@hotmail.com,2025-06-08,Tablet,1,62336,62336,"934 Debra Plains, Port Kimberlyborough, WY 424...",india,Pending
2,1003,Victoria Harmon,rachel24@hotmail.com,2025-07-19,Tablet,3,77482,232446,"50177 Jeremy Trail, New Victoriastad, DC 85571...",IN,paid
3,1004,Jennifer Wilson,kpage@hotmail.com,2025-07-20,Charger,3,969,2907,"15910 Miller Manors, Lake Kelly, CA 41434, India",India,Not Paid
4,1005,Loretta Collins,kristinabarr@yahoo.com,2025-03-17,Monitor,3,12685,38055,"777 Fernandez Shores, Lake Debra, IL 28104, India",IN,Paid

In [34]:
df['email'].unique()

array(['wprice@gmail.com', 'wanderson@hotmail.com',
       'rachel24@hotmail.com', 'kpage@hotmail.com',
       'kristinabarr@yahoo.com', 'pcochran@olson.com',
       'parmstrong@lee-olsen.info', 'michelle51@gmail.com',
       'paul59@gmail.com', 'jwood@ponce-jenkins.net',
       'cynthia62@johnston-bender.com', 'rhill@hendrix-guzman.com',
       'whitedaniel@schneider-wilson.org', 'gutierrezkara@yahoo.com',
       'pdavies@rogers.com', 'rachelpayne@arnold.net',
       'scottcastro@yahoo.com', 'jacksonrobert@miller.org',
       'ynguyen@diaz.biz', 'goodmanelizabeth@ford.com',
       'jaimesexton@gmail.com', 'mbrown@rodriguez.com',
       'pevans@gmail.com', 'andreadodson@rodriguez.com',
       'palmerpaul@gmail.com', 'darrell27@martinez-compton.net',
       'garciamichael@thomas.com', 'julie24@carson-herrera.org',
       'ashley12@hotmail.com', 'amycervantes@yahoo.com',
       'ysanchez@ortiz.org', 'jmartinez@luna.net',
       'baldwinbrandon@yahoo.com', 'harpercindy@reed.org',
       'mbarnes@hotmail.com', 'downsjohn@taylor.net',
       'kevinromero@stewart.info', 'mtaylor@hotmail.com',
       'ndavis@todd-hernandez.net', 'williamjackson@yahoo.com',
       'ybates@shaw.net', 'isaac51@jordan.com', 'bramirez@murphy.com',
       'audreyfitzgerald@gmail.com', 'michelle29@lee-mcdowell.com',
       'heidimckinney@brennan-davis.info', 'belljanet@robinson.info'],
      dtype=object)

In [35]:
df['country'].unique()

array(['India', 'india', 'IN'], dtype=object)

In [36]:
df['country'].replace('IN','India',inplace=True)
df['country'].replace('india','India',inplace=True)

/tmp/ipython-input-3018666003.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['country'].replace('IN','India',inplace=True)
/tmp/ipython-input-3018666003.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['country'].replace('india','India',inplace=True)

In [38]:
df['payment_status'] = df['payment_status'].str.lower()

In [40]:
df['product'] = df['product'].str.lower()

In [41]:
df

,order_id,customer_name,email,order_date,product,quantity,price,total,shipping_address,country,payment_status
0,1001,Tonya Shaffer,wprice@gmail.com,2024-10-08,monitor,1,55803,55803,"3323 Flores Curve Suite 147, Lake Lisa, WI 081...",India,not paid
1,1002,Michelle Morrison,wanderson@hotmail.com,2025-06-08,tablet,1,62336,62336,"934 Debra Plains, Port Kimberlyborough, WY 424...",India,pending
2,1003,Victoria Harmon,rachel24@hotmail.com,2025-07-19,tablet,3,77482,232446,"50177 Jeremy Trail, New Victoriastad, DC 85571...",India,paid
3,1004,Jennifer Wilson,kpage@hotmail.com,2025-07-20,charger,3,969,2907,"15910 Miller Manors, Lake Kelly, CA 41434, India",India,not paid
4,1005,Loretta Collins,kristinabarr@yahoo.com,2025-03-17,monitor,3,12685,38055,"777 Fernandez Shores, Lake Debra, IL 28104, India",India,paid
5,1006,Felicia Hughes,pcochran@olson.com,2024-10-13,charger,3,20772,62316,"8554 Ward Islands, Lake Gregory, KY 48053, India",India,paid
6,1007,customer_1,parmstrong@lee-olsen.info,2025-07-06,charger,3,41955,125865,"7602 Rivera Islands Apt. 176, New Jackieville,...",India,paid
7,1008,Brittany Oneill,michelle51@gmail.com,2025-05-02,mouse,1,78120,78120,"45118 Ortega Falls Apt. 480, Whitneymouth, UT ...",India,paid
8,1009,Ronald Booth,paul59@gmail.com,2025-01-22,tablet,2,44972,89944,"41236 Alexander Wells Suite 385, Stephanieshir...",India,paid
9,1010,Sharon Pierce,jwood@ponce-jenkins.net,2025-04-11,tablet,3,65343,196029,"7329 Ashley Meadows, West Michael, IL 58388, I...",India,paid
10,1011,Ryan Vaughan,cynthia62@johnston-bender.com,2024-08-26,tablet,3,2876,8628,"837 Sharon Freeway Suite 221, Castromouth, CO ...",India,not paid
11,1012,Haley Harrison,rhill@hendrix-guzman.com,2024-11-02,mouse,2,32207,64414,"72720 Cindy Dam, Davidtown, VT 17564, India",India,not paid
12,1013,Hector Baxter,whitedaniel@schneider-wilson.org,2025-05-15,headphones,2,23053,46106,"6449 Perkins Well, West William, TN 69742, India",India,paid
15,1016,Christopher Martinez,gutierrezkara@yahoo.com,2025-05-28,laptop,1,62734,62734,"PSC 9935, Box 8927, APO AA 78988, India",India,pending
16,1017,Michelle Brooks,pdavies@rogers.com,2025-04-09,phone,3,56164,168492,"189 Norris Unions Suite 399, West John, GA 065...",India,pending
17,1018,Alan Hall,rachelpayne@arnold.net,2024-11-18,monitor,2,28526,57052,"6878 Heather River Suite 162, Lake Julie, ME 2...",India,not paid
18,1019,Laura Fischer,scottcastro@yahoo.com,2025-06-14,keyboard,2,65755,131510,"69077 Perry Squares Suite 206, New Joshualand,...",India,pending
19,1020,Karen Stanley,jacksonrobert@miller.org,2025-05-27,tablet,3,44887,134661,"95764 Mark Club, Erikaborough, IA 43326, India",India,pending
20,1021,Gary Barrett,ynguyen@diaz.biz,2025-04-13,charger,1,38049,38049,"851 Kristin Viaduct, Collinview, FL 74599, India",India,paid
21,1022,Evelyn Kelly,goodmanelizabeth@ford.com,2025-06-09,tablet,2,3944,7888,"44540 Allen Grove, Darrenport, LA 71837, India",India,not paid
22,1023,Stacie Gilbert,jaimesexton@gmail.com,2025-04-21,phone,1,61253,61253,"246 Jason Garden Suite 989, East Christopher, ...",India,pending
23,1024,Ronnie Murphy,mbrown@rodriguez.com,2024-12-13,keyboard,1,65589,65589,"339 Harvey Forest, Troyfurt, NC 45866, India",India,not paid
24,1025,Sarah Carr,pevans@gmail.com,2025-05-03,tablet,3,22895,68685,"11827 Ricky Flats Suite 042, Lake Kevinmouth, ...",India,paid
25,1026,Tara Silva,andreadodson@rodriguez.com,2025-07-29,monitor,3,26174,78522,"297 Barr Station Apt. 634, Nunezborough, CA 98...",India,paid
26,1027,Nancy West,palmerpaul@gmail.com,2024-11-11,mouse,3,45387,136161,"4011 Burton Isle Suite 053, Ortizmouth, FL 963...",India,paid
27,1028,Diane Gilbert,darrell27@martinez-compton.net,2024-11-10,mouse,3,13633,40899,"USS Cohen, FPO AA 29433, India",India,paid
28,1029,customer_2,garciamichael@thomas.com,2024-08-10,tablet,3,43107,129321,"1440 Bell Square Apt. 438, Lake Oscar, MD 1014...",India,pending
29,1030,Kirsten Mitchell,julie24@carson-herrera.org,2025-07-01,tablet,1,6108,6108,"5519 Hardy Mission, Ruthville, NH 52250, India",India,pending
30,1031,Amanda Moore,ashley12@hotmail.com,2025-03-29,keyboard,2,25353,50706,"7083 Hubbard Mission Suite 263, Lake Jackland,...",India,paid
31,1032,Jay Salinas,amycervantes@yahoo.com,2025-07-31,tablet,1,24648,24648,"0321 Coffey Knolls Suite 212, West Sharonland,...",India,paid
32,1033,Tammy Le,ysanchez@ortiz.org,2025-02-21,monitor,3,16577,49731,"7168 Berry Loop, Katherineburgh, CT 96933, India",India,pending
33,1034,Jerry Haney,jmartinez@luna.net,2025-07-10,mouse,1,37415,37415,"8921 Shane Stream Apt. 659, West Adamstad, MI ...",India,not paid
34,1035,Brenda Richardson,baldwinbrandon@yahoo.com,2024-11-10,charger,2,70836,141672,"245 Waters Well, Millerchester, MN 31317, India",India,pending
35,1036,David Vargas,harpercindy@reed.org,2024-11-07,keyboard,2,75034,150068,"74407 Burton Locks Suite 213, Crystalberg, DE ...",India,not paid
36,1037,Gary Gomez,mbarnes@hotmail.com,2025-04-03,tablet,2,63551,127102,"39305 Robinson Forks, Hernandezstad, FL 25110,...",India,paid
37,1038,James Sanchez,downsjohn@taylor.net,2025-04-01,tablet,2,2939,5878,"0156 Johnson Haven, Port Michaelstad, IN 57279...",India,paid
38,1039,Marisa Hoffman,kevinromero@stewart.info,2025-03-13,headphones,1,46601,46601,"79199 Smith Pines Suite 854, Edwardtown, NY 93...",India,paid
39,1040,Amber Myers,mtaylor@hotmail.com,2024-09-11,laptop,2,70117,140234,"95326 Christine Circle, Evelynfurt, PA 90640, ...",India,paid
40,1041,Madison Smith,ndavis@todd-hernandez.net,2025-04-10,phone,2,37902,75804,"6421 George Points Apt. 770, Mcdonaldbury, LA ...",India,not paid
41,1042,Jose Bailey,williamjackson@yahoo.com,2025-04-17,keyboard,2,74398,148796,"837 Mark Prairie, West Christine, AR 61863, India",India,not paid
43,1044,Connie Walker,ybates@shaw.net,2025-05-25,laptop,2,9512,19024,"0080 Wilson Mews Apt. 687, Rileyfort, WV 85481...",India,paid
44,1045,customer_3,isaac51@jordan.com,2025-04-06,phone,3,5061,15183,"7742 Sutton Ridge Suite 417, Danielsbury, WV 4...",India,pending
45,1046,Robyn Howard,bramirez@murphy.com,2025-02-09,keyboard,3,78789,236367,"797 Davis Haven Suite 040, Davidchester, MN 49...",India,pending
46,1047,Cory Sherman,audreyfitzgerald@gmail.com,2025-02-02,headphones,3,14493,43479,"7434 Timothy Court, Port Kyle, WI 21154, India",India,not paid
47,1048,Scott Klein,michelle29@lee-mcdowell.com,2024-08-24,charger,2,53074,106148,"378 Courtney Village Suite 779, Stephanieshire...",India,not paid
48,1049,Shelby Crawford,heidimckinney@brennan-davis.info,2025-04-06,keyboard,1,75847,75847,"3404 Jones Gateway, Michaelville, MS 52254, India",India,not paid
49,1050,Kristopher Mercer,belljanet@robinson.info,2025-07-22,keyboard,3,12321,36963,"500 Edwin Stravenue, West Erin, VT 05299, India",India,not paid

In [42]:
df.to_csv('cleaned_dataset.csv',index=False)